:root {
    /*--nav-height: 85px;  hoogte van navbar */
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 0.5;
  font-weight: 400;
  color-scheme: light dark;
  background: linear-gradient(
    -45deg,
    rgb(246, 242, 244),
    rgb(210, 210, 213),
    rgb(220, 215, 215),
    #f397e1e3,
    rgb(236, 169, 177)
    );
  background-repeat: no-repeat; 
  background-size: 100% 100%;   
  background-attachment: fixed;
}


a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

body {
  margin: 0; 
  padding: 0;
  min-height: 100vh;
  color: white;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html {
  margin: 0; 
  min-height: 100vh;
  color: white;
  scroll-behavior: smooth;
  padding: 0;
}







.nav-container {
  /*margin: 2rem auto 2rem auto; */
  display: flex;
  justify-content: space-around; /* logo links, burger/menu rechts */
  align-items: center;
  background-color: rgba(69, 40, 40, 0.25);
  padding: 0 1rem;
  height: 85px;
  width: 70%;
  border-radius: 50px;
  position: sticky;
  top: 1rem;
  z-index: 1005;
  overflow: visible;
  margin: 0 auto;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); /* Safari */
}

.logo {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.793);
}


/* grote scherm*/
.nav-links.desktop {
  display: flex;
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}
/*ook grote scherm*/
.nav-links.mobile {
  display: none;
  }

 
/* ----de <li>------*/
.nav-links.desktop li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
  /*font-size: 30px;*/
}

button {
  background: none;
  border: none;
  padding: none;
  cursor: pointer;
  font: inherit;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 1.5rem;
}
 button:hover {
    color: rgba(255, 255, 255, 0.582);
  }

.nav-links.desktop li a:hover {
  color: rgba(255, 255, 255, 0.582);
}

/* 

*/


.hamburger {
  display: none;
  font-size: 3rem;
  color: white;
  cursor: pointer;
  border: solid 1px white;
  padding: 0.3rem 0.3rem 0.9rem 0.3rem;
  border-radius: 10px;

}
                                                                                                                    



/* Responsief: kleine schermen */
@media (max-width: 968px) {

  /* Desktop menu verbergen */
  .nav-links.desktop {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .nav-links.mobile { 
    display: flex;
    position: fixed;
    right: 0;
    width: 70%;
    background: rgba(0,0,0,0.855);
    flex-direction: column;
    transform: translateX(150%); /* closed sidebar*/
    transition: transform 0.3s ease; /* even de nav-links.mobile testen tijdens klikken ervan */
    margin: 0;
    gap: 2rem;
    z-index: 9999;
    list-style: none;
    padding-top: 50px;
  }

  .nav-links.mobile.open {
    transform: translateX(40%);

  }

  .nav-links.mobile span {
    display: block;
    line-height: 2rem;
  }

  button {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    white-space: normal;
    all: unset;
    font-size: 1.5rem;;
  }
  /*  alle links voor mobile overlay behalve Work(aparte hover)*/
  .nav-links.mobile li a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.3s ease;
    white-space: normal;
  }
  /*  alle links voor mobile overlay behalve Work(aparte hover)*/
  .nav-links.mobile li a:hover {
    color: rgba(255, 255, 255, 0.582);
  }


}

/*

  .overlay {
    position: fixed;
    top: 0;
    padding: 0;
    width: 50%;
    height: 50%;
 
    background: rgba(0, 0, 0, 0.667);
    z-index: 1000;
  }  
*/